@import "./variables.scss";
$cellSize:98px;
.calendar-wrap{padding-left: 70px; position: relative;
	.slide-timeline{padding-left: 40px;
		@include position(absolute, 41% null null 0);
		@include size(100%, 1px);
		z-index: 1000;
		.time-line-inner{ height: 1px; background: $basecolor1;}
		&:before{content:""; display: block; border: solid 2px $basecolor1; background: $white;
			@include border-radius(100%);
			@include size(10px);
			@include transform(translate(-2px, 6px));
		}
	}
	.time-list{width: 70px;
		@include position(absolute, $cellSize null null 0);
		.time-block{ height: $cellSize; }
	}

	.week-days-list{border-bottom: solid 1px $bc1-lighter; border-top: solid 1px $bc1-lighter;
		.cell{ height: $cellSize; border-right: solid 1px; border-bottom: solid 1px; border-color: $bc1-lighter; margin: 0; position: relative;
			&:not(.week-day) .day-time{display: none;}
			.event-box{z-index:2; padding: 3px; font-size: $bfsize-xs;
				@include size(100%, $cellSize*2);
				@include position(absolute, 0 null null 0);
				.event-box-inner{ background: $scheduled; height: ($cellSize*2)-7; padding: 14px;
					@include border-radius(4px);
				}
			}

			&.status-no-show .event-box-inner{background: $warning;}
			&.status-waiting .event-box-inner{background: $info;}
			&.status-success .event-box-inner{background: $success;}
			// &.status-no-show .event-box-inner{background: $scheduled;}
		}
	}
}